/******************************************************************
Site Name: 
Author: CreativeFuse Initiative 

Stylesheet: 481 & Up

This is for devices like the Galaxy Note or something that's 
larger than in iPhone but smaller than a tablet. Let's call them
tweeners.
******************************************************************/


#video {
	width:50%;
	margin:0px auto;
	float:left;
	display:inline-block;
	margin-left:20%;
	margin-top:40px;
}