.headerRight {
	display:none;
}

.headerLeft {
	width:90%;
}

header p {
	font-size:16px;
}

#nav {
	display:block;

}

#nav-wrap {
	display:none;
}

#nav ul {
	width:100%;
	
	
	li {
		padding-left:2.1%;
		padding-right:2.2%;
	}
}

header {
		margin-top:10px;
}

#fullContent .serviceBox {
	width:40%;
	padding:20px 2% 10px 2%;

}